.imagens {
  height: 200px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  position: relative;
  width: 33%;
}

.box2 {
  position: relative;
  margin: auto;
  top: -190px;
  width: 33%;
}

.box3 {
  position: relative;
  float: right;
  top: -390px;
  width: 33%;
}


@media screen and (max-width: 768px) {
  .box1 {
    position: relative;
    width: 50%;
  }

  .box2 {
    position: relative;
    float: right;
    top: -190px;
    width: 50%;
  }

  .box3 {
    width: 100%;
    top: -180px;
  }

}

@media screen and (max-width: 375px) {
  .box1 {
    width: 100%;
  }

  .box2 {
    width: 100%;
    top: 0px;
  }

  .box3 {
    width: 100%;
    top: 0px;
    left: 0px;
  }

}
